body {
  font-family: 'Ubuntu', sans-serif;
}

.cell {
  margin-top: 15px;
}

.hd {
  background-color: black;
  color: White;
  font-weight: normal;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 12px;
}

.ct {
  border: thin solid Gainsboro;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.ct:not(#inst) {
  border: thin solid Gainsboro;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.item {
  font-size:0.8em;
  line-height: 1.8;
  padding: 10px;
  margin: 15px;
  /*border: thin solid Gainsboro;*/
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
  background-color: white;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  break-inside: avoid-page;
}

.item-id {
  font-size: 1.2em;
  line-height: 1.8;
  padding: 10px;
  margin: 15px;
  background-color: WhiteSmoke;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}

dt {
  font-size: 1em;
  color: DimGrey;
}

dt::after {
  content: " :";
}

#map {
  width: 350px;
  height: 350px;
  page-break-before: always;
  align-self: flex-end;
}
