.page_header {
}

.page_footer {
}

.section {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.section_header {
  background: silver;
  padding: 10px 25px;
}

.section_content {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

.item {
  flex-basis: auto;
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
