@media print {
    @page {
        size: A4;
        margin: 0mm;
        background-image: url("bkg.png");
        background-size: cover;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.7em;
    }
}